@media(max-width:1024px) {
    .order-form {
        flex-direction: column;
        align-items: center;
    }

    .order-form input[type="number"] {
       padding-top: 2px;
    }
    .order-form label {
        padding-right: 2px;
    }
   

    .hero {
        height: 1000px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
    .divider{
        width: 75%;
    }

    .product-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ingredients {
        display: flex;
        flex-direction: column;

    }

    .ingredients .basic {
        display: flex;
        flex-direction: column;
    }
    .usage img{
        width: 600px;
    }
}

@media(max-width:768px) {
    .order-form label {
        padding-left: 0px;
        padding-right: 2px;
    }

    .order-form input[type="text"] {
        font-size: 20px;
    }
    .order-form input[type="number"] {
        padding-top: 1px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }

    .thumbnail-carousel {
        flex-direction: row;
    }

    .hero .right {
        align-items: center;
        justify-content: center;
    }

    .divider {
        width: 70%;
    }

    .product-info .desc {
        font-size: 18px;
        padding-left: 5px;
    }

    .usage {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:600px) {
    .order-form label {
        padding-left: 2px;
        font-size: 18px;
    }

    .order-form input[type="text"] {
        font-size: 15px;
        margin-right: 1px;
    }
    .divider{
        width: 50%;
    }
    .product-info img {
        width: 300px;
    }
    .usage img{
        width: 500px;
    }
    .wrapper {
        width: 70%;
        text-align: justify;
    }
}
@media(max-width:540px){
    .order-form input[type="text"]{
        font-size: 14px;
    }
    .order-form label{
        font-size: 15px;
    }
    .mainIMG {
        width: 250px;
        height: 250px;
    }
    .hero{
        padding-top: 75px;
        height: 850px;
    }
    .hero .right{
        font-size: 17px;
    }
    .hero .right h1{
        font-size: 34px;
    }
   
}

@media(max-width:500px){
    .order-form{
        font-size: 14px;
    }
    .order-form input[type="text"]{
        font-size: 12px;
    }
    .order-form label{
        font-size: 14px;
    }
    .mainIMG {
        width: 150px;
        height: 150px;
    }
    .hero{
        padding-top: 55px;
        height: 750px;
    }
    .hero .right{
        font-size: 15px;
    }
    .ingredients .basic-ingredients img{
        width: 300px;
        height: 300px;
    }
    .usage img{
        width: 300px;
    }
    .accordion {
        width: 300px;
    }
}
/* Iphone 14 Pro Max */
@media(max-width:430px){
    .order-form{
        font-size: 12px;
    }
    .order-form input[type="text"]{
        font-size: 11px;
    }
    .order-form label{
        font-size: 14px;
    }
    .hero{
        padding-top: 75px;
        height: 800px;
    }
    .mainIMG {
        width: 150px;
        height: 150px;
    }
    .hero .right{
        font-size: 15px;
    }
    .hero .right h1{
        font-size: 28px;
    }
    .ingredients .basic-ingredients img{
        width: 300px;
        height: 300px;
    }
    .usage img{
        width: 300px;
    }
    .accordion {
        width: 300px;
    }
}
/* Iphone XR */
@media(max-width:414px){
    .order{
        font-size: 11px;
    }
    .order img {
        width: 35px;
        height: 35px;
    }
    .order-form input[type="number"]{
        font-size: 12px;
        padding-left: 4px;
    }
    .order-form input[type="text"]{
        font-size: 11px;
        padding-left: 5px;
    }
    
}
/* Iphone SE */
@media(max-width:375px){
    .order-form label{
        font-size: 14px;
    }
    .order-form input[type="number"]{
        font-size: 11px;
    }
    .order-form input[type="text"]{
        font-size: 11px;
    }
    
    
}