/* GLOBAL */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1500px;
    box-sizing: border-box;
    margin: 0 auto;
}

.order-form {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
}

.order {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.order h2 {
    font-weight: 400;
    font-style: italic;
}

.order img {
    width: 50px;
    height: 50px;
}
.order-form label{
    font-size: 22px;
    font-style: italic;
    padding-left: 5px;
}
.order-form input[type="text"]{
    font-size: 15px;
}
.order-form input[type="number"]{
    width: 45px;
    padding: 5px 5px;
    font-size: 18px;
    
}

.order-form .btn {
    margin-top: 15px;
    margin-left: 9px;
    font-size: 17px;
    padding: 12px 15px;
    background-color: rgba(0, 128, 0, 0.2);
    border: none;
    border-radius: 6px;
}

.order-form .btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.divider {
    height: 1px;
    width: 900px;
    background-color: rgba(0, 128, 0, 0.5);
    margin: 0 auto;
}

/* .hero {
    position: relative;
    height: 500px;
}
.Background-img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1; 
} */
/* HERO Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100%;
    height: 700px;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 550px;

}

.thumbnail img {
    width: 60px;

}

.mainIMG {
    width: 400px;
    height: 400px;
}

.thumbnail-carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.thumbnail {
    cursor: pointer;
    margin: 10px;
}


.hero .right {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.hero .right h1 {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0;

}

.hero .right h2 {
    font-weight: 400;
    font-size: 22px;
    margin-left: 9px;

}

.hero .right ul {
    list-style: none;
    padding: 5px;
}

.hero .right li {
    padding: 6px;
}

.hero .right li:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.hero .right i {
    padding-right: 8px;
}


/* Product section */

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-info .desc {
    font-size: 22px;
}
.product-info .desc h2 {
   font-weight: 500;
   font-style: italic;
}

.product-info li {
    padding: 8px;
}

.product-info li:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* Ingredients section */
.ingredients {
    text-align: center;
}

.ingredients h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

.ingredients .basic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ingredients .basic-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.wrapper {
    width: 95%;
}

.ingredients .basic-ingredients img {
    width: 480px;
    height: 400px;
}

.ingredients #showIngredientsBtn {
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 6px;
}

.ingredients #showIngredientsBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.2);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#ingredientDetails {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#closeIngredientsBtn {
    background-color: rgba(0, 128, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Usage section */
.usage {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.usage img {
    width: 700px;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.accordion button {
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.5);
    font-weight: bold;
    color: #fff;
    border: 1px solid #ccc;
}

.accordion button.active {
    background-color: #a09c9c;
}

.accordion .content {
    display: none;
    padding: 14px;
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid #ccc;
    font-size: 17px;
}
footer p {
    text-align: right;
    font-size: 28px;
}

