body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
.footer{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    position: sticky;
    bottom: 40px;
}