body {
    display: flex;
}

.pict {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.img {
    display: flex;
    border: 8px solid black;
    padding: 50px;

}

.img:nth-child(2) {
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 20px;
}

.img:nth-child(5) {
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 20px;
}

.none {
    padding-left: 0px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 0px;
}