@media(max-width:600px) {
    .input {
        display: none;
    }

    .home-left {
        display: none;
    }

    .home-right {
        display: none;
    }
    .home-navbar1{
        justify-content: left;
    }
    .navbar-logo-title{
        margin: 0;
        position: relative;
    }

    .home-hero1 {
        flex-direction: column;
    }

    .home-text29 {
        padding-top: 30px;
    }

    .home-text30 {
        width: 400px;
    }
    .home-left4{
        padding-bottom: 22px;
    }

    .home-container03 {
        align-items: center;
    }

    .category-card-image {
        width: 250px;
        height: 250px;
    }
    .home-image6 {
        width: 100%;
        height: auto;
    }

    .home-cards-container {
        max-width: 900px;
    }

    .section-container {
        flex-direction: column;
        padding-top: 40px;
    }

    .home-container08 {
        justify-content: center;
    }

    .blog-post-card-blog-post-card {
        max-width: 600px;
    }

    .home-main {
        padding-bottom: 66px;
    }

    .home-footer1 {
        flex-direction: column-reverse;
        padding-bottom: 0px;
        padding-top: 50px;
    }

    .home-links-container {
        flex-direction: column;
    }
}